/*mobile view*/
@media only screen and (max-width: 768px){
	.main_text{
		margin-left: 4%;
		margin-top: 20vh;
	}
	.tedx_tag{
		font-size: 3.5vw;
		word-spacing: 2px
	}
	.mustering-tag{
		font-size: 10.5vw;
	}
	.muses-tag{
		font-size: 10.5vw;
	}
	.mustering_circle{
		height: 36vw;
		width: 36vw;
		left: 46vw;
		top: -2vh;
	}
	.main_register_now{	
		padding: 3vw 7vw;
		font-size: .8em;
	}
	.main_know_more{
		padding: 3vw 7vw;
		margin-left: 4vw;
		margin-top: 5vh;
		font-size: .8em;
	}
	.main_building_img{
		height:55vw;
		width: 54vw;
	}
	.main_date{
		font-size: 1em;
	}
	.main_location{
		font-size: 1em;
	}
	
	/* themt tag */
	.theme_tag{
		font-size: 10vw;
		margin-bottom: 0px;
		margin-top: 4vh
	}
	.theme_img{
		height: 43vw;
		width:  43vw;
		margin-top: -5vh;
		margin-left: -10vw
	}
	.theme_name{
		font-size: 5vw;
		margin-top: -20px
	}
	.theme_content{
		font-size: 3.5vw;
		font-weight: 300;
		color: #000
	}

	.header_links li{
		display: block;
	}

	
	.speaker_img{
		height: 40vw;
		width:  40vw;
		margin-top: -30px;
		margin-left: -20%;
	}
	
	.speaker_tab_name{
		display: none;
	}
	.speakers_tab_img{
		width: 10vw;
		height: 10vw;
		margin-top: 20px;
	}
	.speaker_tag{
		font-size: 12vw;
		margin-top: 12vh;
		margin-left: 5%
	}
	.speaker_name{
		font-size: 5vw;
	}
	.speaker_content{
		font-size: 4vw;
		color: #000;
		line-height: 17px;
		letter-spacing: 0;
		margin-top: -20px;
		padding-bottom: 100px
	}
	.speaker_job{
		font-size: 3.5vw;
	}

	.previous_talk_div{
		margin-top: 15vh;
		font-size: 10vw;
		text-align: center;
	}
	.mustering_content{
		font-size: 3vw;
	}
	.red_circle1{
		top: -3.2vh;
		border-radius: 7vw;
		margin-left: -10vw;
		height: 14vw;
		width: 14vw
	}
	.events_tag{
		font-size: 10vw;
	}
	.mustering_tag{
		font-size: 5vw;
	}
	
	.tab_list li{
		padding-left: 5px
	}
	
	.header{
		margin-top: 10px
	}
	.about_us_tag{
			font-size: 8vw;
	}
	.about_us_ted_tag{
		font-size: 5vw;
	}
	.about_us_ted_content{
		font-size: 3.5vw;
		word-spacing: 0;
	}
	.about_us_speaker_img{
		height: 38vw;
		width: 38vw;
	}
	.left{
		margin-left: -20%
	}
	.right{
		margin-left: -33%
	}
	.team_img{
		height: 18vw;
		width: 18vw;
	}
	.team_section{
		font-size: 4vw;
	}
	.team_name{
		font-size: 4vw;
	}
	
}