	html,body{
		
		height: 100%;
		padding: 0;
		font-family: 'Lato', sans-serif;
		overflow-x: hidden;
	}

	::-webkit-scrollbar {
	    width: 3px ; /*  remove scrollbar space */
	    background: transparent;  /* optional: just make scrollbar invisible*/ 
	    height:3px;
	}

	::-webkit-scrollbar-thumb {
		width: 2px ;
		border-radius:10px;
		background-color: #ff2b06;
		height:2px;
	}

	::-webkit-scrollbar-button  {
	    height:0px;
	}


	::-webkit-scrollbar-corner  {
	    display:none;    
	}

	*{
		padding: 0;
		letter-spacing: 0.3px;
	}

	a, a:hover, a:vistied{
		text-decoration: none;
	}

	.header{
		background:transparent;
		border: none;
	}

	.header_logo{
		font-size: 1.3em;
		padding: 10px 0px;
	}

	.header_links{
		list-style-type: none;
		margin-top: 4vh;
		margin-left: 10%;
	}

	.header_links li{
		display: inline;
		padding: 10px 22px !important;
	}

	.header_links li:hover,
	.header_links li:focus{
		border-radius: 5px;
	}

	@media only screen and (min-width: 1100px) and (max-width: 1125px){
		.header_links li{
		padding: 10px 13px ;
		}	
	}

	.header_links li a{
		font-size: 1em;
		color: #333;
		text-decoration: none;
		font-weight: 600
	}
	.header_links li a:hover,
	.header_links li a:focus{
		color: #ff2b06;
	}


	.active a{
		color: #ff2b06 !important;
	}
	.main_building_img{
		height:50vw;
		width: 50vw;
	}
	.main_building_img_div{
		position: absolute;
		z-index: -1;
		top: 0vh;
		height: 90%;
	}

	.mustering_circle{
		background-color: #ff2b06;
		height: 20vw;
		width: 20vw;
		border-radius: 20vw;
		position: absolute;
		z-index: -1;
		top: 6vh;
		left: 20vw;
	}


	/* mustering css */
	.main_know_more{
		color:#f20404;
		background-color: #fff;
		border: 2px solid #ff2b06;
		padding: 1.2vw 3vw;
		margin-left: 5vw;
		margin-top: 5vh;
	}
	.main_know_more:hover,
	.main_register_now:hover{
		color:#fff;
		background-color: #000;
		border: 2px solid #000;
	}
	.main_register_now{
		color: #fff;
		background-color: #f20404;
		border: 2px solid #ff2b06;
		padding: 1.2vw 3vw;
		margin-left: 3%;
	}
	.main_date{
		font-size: 1.5em;
		font-weight: 400;
		color:#000;
	}
	.main_location{
		font-size: 1.5em;
		font-weight: 400;
		color:#000;
		margin-top: -1vh
	}
	.tedx_tag{
		margin-top: 5vw;
		font-size: 1.8em;
		color: #111;
		word-spacing: 5px;
	}
	.mustering-tag{
		font-size: 5vw;
		letter-spacing: 4px;
		font-family: 'Montserrat', sans-serif;
	}
	.muses-tag{
		font-size: 5vw;
		letter-spacing: 4px;
		margin-top: -20px;
		font-family: 'Montserrat', sans-serif;
	}


	/*themes css*/
	.theme_tag{
		font-size: 4vw;
		font-weight: 900;
		color: #111;
		margin-left: 8%;
		margin-bottom: 20px;
		margin-top: 7vh
	}
	.theme_job{
		font-size: 1.2vw;
		color: #ff2b06;
		font-weight: 400;
		letter-spacing: 2px;
	}
	.theme_img{
		height: 30vw;
		width:  30vw;
		border-radius: 50vw;
		background-color: #aaa;
		margin-top: -35px;
		margin-left: 15%
	}
	.theme_name{
		font-size: 2.2vw;
		color: #222;
		font-weight: 700;
	}
	.theme_content{
		font-size: 1.3vw;
		color: #666;
		font-weight: 300;
	}

	/*speakers css*/
	.speaker_job{
		font-size: 1.2vw;
		color: #ff2b06;
		font-weight: 400;
	}
	.speaker_img{
		height: 33vw;
		width:  33vw;
		margin-top: -30px;
		margin-left: -20%;
		border-radius: 50vw;
		background-color: #aaa;
		overflow-x::  hidden;

	}
	.speaker_name{
		font-size: 2.2vw;
		color: #222;
		font-weight: 700;
	}
	.speaker_tab_name{
		font-size: 1vw;
		color: #444;
		text-align: center;
		margin-top: 5px;
	}
	.speakers_tab_img{
		width: 7vw;
		height: 7vw;
		margin-top: 60px;
		border-radius: 10vw;
		background-color: #666;
		cursor: pointer;
	}
	.speaker_tag{
		font-size: 4vw;
		color: #222;
		letter-spacing: .1vw;
		font-weight: 900;
		margin-top: 10vw
	}

	.speaker_name{
		font-size: 3vw;
		color: #222;
		font-weight: 700;
	}
	.speaker_content{
		font-size: 1.5vw;
		color: #666;
		font-weight: 300
	}
	.tab_list{
		margin-left: 10%
	}

	.tab_list li{
		padding-left: 15px
	}



	/*Previous talk css*/

	.previous_talk_row{
		text-align: center;
	}
	.previous_talk_name{
		font-size:25px;
		color: #333;
		margin-top: 15px;
		text-align: center;
	}

	.previous_talk_job{
		font-size: 15px;
		color: #f20404;
		margin-top: -10px;
		text-align:center;
	}

	.previous_talk_div{
		margin-top: 20vw;
		font-size: 4vw;
		font-weight: 900;
		color: #111;
		letter-spacing:.2vw;
	}


	.previous_talk_img{
		width: 200px;
		height: 200px;
		background-color: #ddd;
		border-radius: 200px;
		margin-top: 50px;
	}
	.red_circle1{
		height: 7vw;
		width: 7vw;
		border-radius: 150vw;
		background-color:  #ff2b06;
		top: -6vh;
		position:relative;
		margin-left: -4vw;
		z-index: -2
	}

	/*image hovering */

	.image_hover{
			position: relative;
			text-align: center;
		}
		.middle {
	  transition: .5s ease;
	  opacity: 0;
	  position: absolute;
	  top: 60%;
	  left: 50%;
	  transform: translate(-50%, -50%);
	  -ms-transform: translate(-50%, -50%)
		}
		.image_hover:hover .previous_talk_img {
	  opacity: 0.7;
	  transition: .3s ease;

	}

	.image_hover:hover .middle {
	  opacity: 1;
	}
	/*.youtube-icon{
		color: #cd2014;
		font-size:3vw
	}*/
	.youtube-icon{
		width: 150px;
		height: 100px;
	}
	.zout-icon{
		width: 30px;
		height: 30px;
		color: #fff;
		transform: rotate(270deg);
		-webkit-transform: rotate(270deg);
		-o-transform: rotate(270deg);
		-moz-transform: rotate(270deg);
		margin-left: -50%
	}
	.linkedin-icon{
		width: 30px;
		height: 30px;
		display: inline;
		margin-left: 15px;
		border-radius: 5px
	}


	/*events css*/
	.event_img_modal{
	    width: 30vw;height: 30vw;
	    background-color: #000;
	    margin-top: 15vh;
	}
	.events_video{
		height: 32.68vh;
		width:  15vw;
		border-radius: 10px;
		background-color: #000;
		opacity: .9;
		margin-top: 5vw;
	}
    .events_video_modal{
        height: 30vw;
        width:  30vw;
        border-radius: 0;
        margin-top: -15px;
        margin-left: -15px
    }
	.events_tag{
		font-weight: 900;
		font-size: 5vw;
		color: #222;
		margin-top: 5vw
	}
	.mustering_tag{
		font-size: 3vw;
		color: #444;
		font-weight: 700;
		margin-top: 3vw;
	}
	.mustering_content{
		font-size: 1.2vw;
		color: #999;
		margin-top: 3vw
	}



	/*about.php css*/


	.about_us_speaker_img{
		height: 30vw;
		width: 30vw;
		border-radius: 50vw;
		}
	.about_us_tag{
		color: #000;
		font-weight: 900;
		font-size: 3.5vw;
		margin-top: 5vw;
	}
	.about_us_ted_tag{
		font-size: 2vw;
		color: #111; 
		font-weight: 700;
		margin-top: 2vw;
	}
	.about_us_ted_content{
		font-size: 1.5vw;
		color: #000;
		margin-top: 2vw;
		font-weight: 300
	}
	.team_row{
		text-align: center;
		margin-left: 5%
	}
	
	.team_section{
		font-size: 1.5vw;
		color: #000 !important;
		margin-top: -10px;
		font-weight: 100;
	}
	.team_name{
		font-size: 1.6vw;
		color: #000;
		margin-top: 10px;
	}
	.team_img{
		height: 12vw;
		width: 12vw;
		background-color: #ccc;
		border-radius: 25vw;
		margin-top: 4vw;
	}


/*mobile view*/
@media only screen and (max-width: 768px){
	.theme_content{
		font-size: 2.5vw;
	}
	.theme_name{
		font-size: 3.5vw;
	}

	.theme_tag{
		font-size: 8vw;
	}
	.header_links li{
		display: block;
	}
	.speaker_tag{
		font-size: 12vw;
		margin-top: 15vh;
		text-align: center;
	}

	.previous_talk_div{
		margin-top: 15vh;
		font-size: 10vw;
		text-align: center;
	}
	.mustering_content{
		font-size: 3vw;
	}
	.red_circle1{
		top: -2vh;
		margin-left: -6vw;
		height: 9vw;
		width: 9vw
	}
	.events_tag{
		font-size: 10vw;
	}
	.mustering_tag{
		font-size: 5vw;
	}
	.mustering_circle{
		height: 15vw;
		width: 15vw;
		left: 29vw;
	}
	.tab_list li{
		padding-left: 5px
	}
	.speaker_name{
		font-size: 4vw;
	}
	.speaker_content{
		font-size: 3vw;
	}
	.speaker_job{
		font-size: 1.7vw;

	}
	.header{
		margin-top: 10px
	}
	.about_us_tag{
			font-size: 8vw;
	}
	.about_us_ted_tag{
		font-size: 5vw;
	}
	.about_us_ted_content{
		font-size: 2.5vw;
	}
	.team_img{
		height: 18vw;
		width: 18vw;
	}
	.team_section{
		font-size: 4vw;
	}
	.team_name{
		font-size: 4vw;
	}
	.tedx_tag{
		font-size: 2vw;
	}
















}